<!DOCTYPE html>
<html lang="ja">
<head>
  <title>SNS App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
  <script src="<%= mix('/js/bootstrap.js') %>"></script>
  <script src="<%= mix('/js/turbo.js') %>"></script>
</head>

<body>
  <div class="main-container">
   
    <nav class="custom-navbar">
      <div id="menuToggle">
       
        <span></span>
        <span></span>
        <span></span>
      
      </div>
    </nav>


    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <div class="bg-white text-dark">
      <%= yield %>
    </div>
  </div>
   Javascript 
  <script src="<%= mix('/js/app.js') %>"></script>
</body>
</html>